<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<h1>List of users</h1>
        <div th:each="user : ${users}">
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">user</a>
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
        </div>
<form th:method="GET" th:action="@{/users/newuser}">
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>